CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_raspberrypi_4b=y

# RootFS
CONFIG_TARGET_ROOTFS_TARGZ=y

# PassWall 2
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_SingBox=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ChinaDNS_NG=y

# Kernel Modules
CONFIG_PACKAGE_kmod-tun=y

# Utilities
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-autoupdate=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_curl=y
